<div class="container">
  <form method="post" class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="firstName" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Last name</mat-label>
      <input matInput formControlName="lastName" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>FE technology</mat-label>
      <mat-select formControlName="framework">
        <mat-option *ngFor="let framework of frameworks" [value]="framework">
          {{ framework }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>FE technology version</mat-label>
      <mat-select formControlName="frameworkVersion">
        <mat-option *ngFor="let version of versions" [value]="version">
          {{ version }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>

    <app-hobby-form
      [hobbies]="hobbies"
      (addHobbyEvent)="addHobby()"
      (removeHobbyEvent)="removeHobby($event)"
    ></app-hobby-form>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!form.valid"
    >
      Submit
    </button>
  </form>
</div>
