.container {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  margin: 40px auto;
  box-sizing: border-box;
}

.form {
  display: flex;
  flex-direction: column;
}

.list {
  list-style: none;
  margin: 10px 0;
  padding-left: 0;
  gap: 8px;

  display: flex;
}

.item {
  display: flex;
  justify-content: start;
  gap: 10px;
  align-items: center;
}

.button {
  width: 10%;
  margin-top: 6px;
  align-self: baseline;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.mat-mini-fab {
  transform: scale(0.7);
}
