<div class="hobbies__container">
  <div class="hobbies__title">
    <h3>Hobbies</h3>

    <button
      mat-mini-fab
      color="primary"
      type="button"
      class="hobbies__button"
      (click)="addHobbyEvent.emit()"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <ng-container *ngIf="hobbiesForms.length > 0; else empty">
    <ng-container *ngFor="let hobbyForm of hobbiesForms; let i = index">
      <div class="hobbies__list">
        <app-custom-form [form]="hobbyForm"></app-custom-form>
        <button
          mat-mini-fab
          color="warn"
          type="button"
          class="hobbies__button"
          (click)="removeHobbyEvent.emit(i)"
        >
          <mat-icon>remove</mat-icon>
        </button>
      </div>
    </ng-container>
  </ng-container>

  <ng-template #empty>
    <h2>No hobbies :(</h2>
    <p>You can add hobby if you click the button</p>
  </ng-template>
</div>
