<div class="hobbies__container">
  <div class="hobbies__title">
    <h3>Hobbies</h3>

    <button
      mat-mini-fab
      color="primary"
      (click)="addNewHobby()"
      type="button"
      class="hobbies__button"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div [formGroup]="form">
    <div formArrayName="hobbies">
      <div *ngFor="let hobbyForm of hobbies.controls; let i = index">
        <div class="hobbies__row" [formGroupName]="i">
          <mat-form-field appearance="fill" class="hobbies__hobby">
            <mat-label>Write your hobby</mat-label>
            <input
              matInput
              type="text"
              placeholder="hobby"
              formControlName="hobby"
            />
          </mat-form-field>

          <mat-form-field appearance="fill" class="hobbies__duration">
            <mat-label>Duration (mounts)</mat-label>
            <input
              matInput
              type="number"
              placeholder="duration"
              formControlName="duration"
            />
          </mat-form-field>

          <button
            mat-mini-fab
            color="warn"
            type="button"
            class="hobbies__button"
            (click)="removeHobby(i)"
          >
            <mat-icon>remove</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
